



.datosCliente{
    background-color: white;
    width: 90%;
    
    
 display: flex;
 


}

.datosinter{
    border-radius: 10%;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 12px 5px rgba(150,189,13,0.48);
-moz-box-shadow: 10px 10px 12px 5px rgba(150,189,13,0.48);
box-shadow: 10px 10px 12px 5px rgba(150,189,13,0.48);
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #0e5958;
}