/* Colores de la escala */
:root {
  --color-primario: #0e5958;
  --color-secundario: #93c323;
  --color-fondo: #c3d3c9;
  --color-texto: #545454;
  --color-botones: #5f9750;
  --color-hover-botones: #accc54;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 80px;
  margin-bottom: 150px;
  
}

.form-wrapper {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 12px 5px rgba(150,189,13,0.48);
  -moz-box-shadow: 10px 10px 12px 5px rgba(150,189,13,0.48);
  box-shadow: 10px 10px 12px 5px rgba(150,189,13,0.48);
  color: #0e5958;
}

.form-title {
  color: var(--color-primario);
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.form-label {
  display: block;
  margin-top: 10px;
  color: var(--color-texto);
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--color-primario);
  border-radius: 5px;
}

.center-select {
  display: block;
  margin: 0 10px;
}


.form-button {
  background-color: var(--color-botones);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.form-button:hover {
  background-color: var(--color-hover-botones);
}

.button {
  --width: 150px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #a0c448;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #94bc0c;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.center-button {
  display: flex;
  justify-content: center;
}
