.datosContactos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  hr {
    height: 2px; /* Ajusta el grosor a tu preferencia */
    background-color: #0e5958; /* Cambia el color a tu preferencia */
    border: none; /* Elimina el borde predeterminado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Agrega una sombra */
    margin: 10px 0; /* Ajusta el margen superior e inferior a tu preferencia */
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .contact-item i {
    font-size: 40px;
    color: #96bd0d;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 0; /* Elimina el margen superior para eliminar el espacio entre los párrafos */
    margin-left: 10px;
  }

  .contact-info p {
    margin-bottom: -5px; /* Establece un margen inferior negativo para superponer los párrafos */
  }
  
  .bold-text {
    font-weight: bold;
  }
  
  .right-text {
    text-align: left; /* Alinea el texto a la derecha */
  }
  
  .footer-contact a {
    display: block;
    color: gray; /* Color de enlace predeterminado (negro) */
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.2s; /* Agrega una transición de color al pasar el ratón */
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .footer-contact a:hover {
    color: #5f9750; /* Cambia el color a verde al pasar el ratón */
    font-weight: bold;
  }
  .arrow{
    font-size: 20px;
    color: #96bd0d;
  }

  .gray-text {
    color: gray;
    font-size: larger;
  }
  
