
#colorBarra {
    background-color: #96bd0d; /* Color de fondo del encabezado */
    padding: 20px; /* Espaciado interior del encabezado */

  }
  
  /* Estilo para el logotipo del encabezado */
  .header-logo {
    font-size: 24px; /* Tamaño de fuente del logotipo */
    font-weight: bold; /* Peso de fuente en negrita */
  }
  
  /* Estilo para la navegación en el encabezado */
  .header-nav {
    list-style: none; /* Elimina los puntos de la lista en la navegación */
    margin: 0;
    padding: 0;
  }
  
  .header-nav li {
    display: inline; /* Hace que los elementos de la lista se muestren en línea */
    margin-right: 20px; /* Espaciado entre elementos de la lista */
  }
  
  .header-nav a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #96bd0d; /* Color de texto en los enlaces de navegación */
  }
  
  /* Cambiar el color de los enlaces cuando se desplaza el cursor sobre ellos */
  .header-nav a:hover {
    color: #0e5958; /* Color de texto en los enlaces al pasar el cursor */
  }
  
  

  #texto{
    color: #0e5958;
    font-weight: bold;
  }


  
  #LogoImg {
    position: center;
    z-index: 1;
    align-items: center;
    animation: desvanecer 4s ease-in-out infinite;
    
  }
  

  @keyframes desvanecer {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #colorTotal{
    background-color: #ffff;
  }
  #colorBarra{
    background-color: #96bd0d;
    border-bottom-right-radius: 50%;
  }

  .custom-user-info {
    display: flex;
    flex-direction: row; /* Disposición horizontal */
  }
  
  .custom-user-info p {
    margin-right: 10px; /* Espacio entre los elementos horizontales */
  }

  #colorTotal{
    background-color: #ffff;
  }

  #reducir{
    background-color: #fff ;
  }
  .grande {
    font-size: x-large; /* Tamaño de fuente "extra grande" */
  }

  .iniciar{
    background-color: #5f9750;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .iniciar:hover {
    background-color: #accc54;
}
#texto:hover {
  color: #041817;
}

.imagen-qr {
  max-width: 100%; /* La imagen se reducirá a medida que el contenedor se haga más pequeño */
  height: auto; /* Mantiene la relación de aspecto original */
}


.borde{
  border-bottom-right-radius: 50%;
}

#colorTotal {
  background-image: url('ImgUniversal/logoCoomultrasan.png'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
  background-repeat: repeat; /* Hacer que la imagen de fondo se repita */
  animation: desvanecer 4s ease-in-out infinite;
}

  