* {
    font-family: 'Arvo', serif;
}

.diseñoHome {
    text-align: center;
    background-image: url('../UniversalCompontes/ImgUniversal/bgHome.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0; /* Agrega espacio alrededor del contenido para evitar que se superponga con la imagen de fondo */
    
}

#textos {
    padding: 20px;
    border-radius: 10px; /* Añade bordes redondeados al contenedor de texto */
    display: inline-block; /* Hace que el contenedor se ajuste al contenido */
}

.diseñoHome h1 {
    color: #0e5958;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.diseñoHome h2 {
    color: #93c323;
}

.diseñoHome h3 {
    color: #c3d3c9;
}

.diseñoHome p {
    color: #545454;
}

.diseñoHome button {
    background-color: #5f9750;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.diseñoHome button:hover {
    background-color: #accc54;
}

@media (max-width: 767px) {
    .diseñoHome {
      background-image: none; /* Elimina la imagen de fondo en dispositivos con un ancho máximo de 767px (ajusta este valor según tus necesidades) */
      padding: 0; /* Elimina el espacio alrededor del contenido en dispositivos móviles */
      
    }

}